#sp1{
    position: absolute;

    left: 0px;

}
#sp2{
position: absolute;
    left: 94px;
}
#sp3{
    position: absolute;
    left: 188px;
}
#sp4{
    position: absolute;
    left: 282px;
}
#sp5{
    position: absolute;
    left: 376px;
}
#sp6{
    position: absolute;
    left: 470px;
}
#sp7{
    position: absolute;
    left: 564px;
}